
/* account for the new menu item */
header #top nav > ul > li div.news > a {
    width: 105px;
}

header #beta {
	left: 800px;
	position: relative;
	top: 20px;
	z-index: 1000;
}

body.home #beta {
	left: 200px;
	top: 10px;
}

#search_placeholder { width:179px ; display: inline-block } 

#content article form div.fields {
	overflow: visible ;
	margin: 70px 0 0 0 ;
	padding: 0 0 5px 0 ;
}

#content article.register form label {
	display: block;
 	margin: 20px 0 8px 0; 
	font-family: "DINOT-Medium",sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: #333333;
	text-shadow: 0 1px white;
	filter: progid:dximagetransform.microsoft.dropshadow(offx=0, offy=1, color=#ffffff);
}


#content article.register form div.field label {
	display: block;
	margin: 0 0 8px 0;
	font-family: "DINOT-Medium",sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: #333333;
	text-shadow: 0 1px white;
	filter: progid:dximagetransform.microsoft.dropshadow(offx=0, offy=1, color=#ffffff);
}


div.form-item.form-type-password.form-item-pass{
	margin: 20px 0 0 0;

}

#content article.register form .description {
	padding: 0 0 20px 0 ;

}

#content article.register form span.input_text .description {
	display: none; 

}

#content article.register form div.field span.input_text {
	background: none ;
}


#content article.register form div.field input {
	background: url("../img/input_bkg_start.png") no-repeat left top , url("../img/input_bkg.png") no-repeat right top;;
}

div.recover_password {
	top: -20px;
	position: relative;	
	width: 340px;
}

#content article.register form input {

background: url(../img/input_bkg_start.png) no-repeat left top, url(../img/input_bkg.png) no-repeat right top;
border-bottom-color: rgb(51, 51, 51);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(51, 51, 51);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(51, 51, 51);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(51, 51, 51);
border-top-style: none;
border-top-width: 0px;
height: 31px;
outline-color: rgb(51, 51, 51);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 3px;
padding-right: 10px;
padding-top: 0px;
resize: none;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: color;
transition-timing-function: ease-in-out;
width: 300px;
word-spacing: 0px;
writing-mode: lr-tb;

}

a.candy_blue_button span input {

border: none;
background: none;
font-size: 15px;
color: white;
text-shadow: 0px -1px rgb(0, 121,162);
font-weight: bold;
margin: 0 -5px 0 -5px ;
}

#content  .error {
	border: 0 !important ;
	margin: 0 0 30px 0 ;
}


#content article.register form div.fields div.field:last-child {
width: 280px ;
margin: -20px 0 0 0 ;
}

#content article.register form div.fields select {
width: 275px ;
height: 31px ;
}


body.home #content article.latest-news .latest ul li {
	list-style: none ;
	height: 70px;
	
}


body.home #content article.latest-news .upcoming ul li {
	list-style: none ;
}

body.home #content article .content > .header {
	-o-transform-origin: 437px 22px;
	-webkit-transform-origin: 437px 22px;
	border-bottom: 1px solid #D8DCE1;
	height: 23px;
	margin: 0px 0px 20px;
	order: 0;
	overflow: hidden;
	padding: 0px 0px 20px;
}

body.home #content article .content > .header .left {
	height: 23px;
	justify-content: flex-start;
	margin: 0px 41px 0px 0px;
}

body.home #content article .content > .header .left h1 {
	font: normal normal 400 23px/23px Arial;
	height: 23px;
	
}

.full {
	width: 874px !important;
	
}


body.home #content article .content > .header .right {
	top: 5px ;
	text-align: right;	
	font: normal normal 400 15px/15px Arial;
	height: 23px;
	display: block;
	float: none;
	margin: 0px;
	order: 0;
	padding: 0px;
	position: absolute;
	resize: none;
	right: 27px;
	text-align: right;
	vertical-align: baseline;
	width: 230px;
}


body.newsroom #content article.detail > .content .right ul li {
		list-style: none ;
		margin: 0 ;
}

body.newsroom #content article.detail > .content .right ul.tags li {
		display: inline-block ;
}

body.newsroom #content article.data-use-news > .content .inner ul li .ocurrences {
	height: 18px ;
	
}

body.newsroom #content article.slideshow > .content > .right ul li.selected, 
body.newsroom #content article.slideshow > .content > .right ul li {
	list-style: none ;
}

#content article.register {
		padding-right: 222px ;
}

#more_links li {
	list-style: none ;
}

body.home header .info .counters li a:link,
body.home header .info .counters li a:visited,
body.home header .info .counters li a:hover, 
body.home header .info .counters li a:active { 
	color: #373737;
}

body.home header .info .counters li a:link strong,
body.home header .info .counters li a:visited strong,
body.home header .info .counters li a:hover strong, 
body.home header .info .counters li a:active strong { 
	color: #FFF;
}


body > footer > .inner {
	width: 892px ; 
	padding: 24px 0 54px 8px;
	
}

body > footer .inner ul {
		width: 204px ;
		margin: 0 24px 36px 0;
}



body > .contact_footer {
	padding: 30px 0 30px 6px ; 
	
}

body > .contact_footer > .inner {
	width: 892px ; 
	
}

body > .contact_footer .inner ul .s_icons {

    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 0px 0px;
    padding: 2px 0 0 28px;
    height: 28px;
}
	
body > .contact_footer .inner ul .twitter {
	background-image: url(../img/twitter.png) ;
}
body > .contact_footer .inner ul .facebook {
	background-image: url(../img/facebook.png) ;
}
body > .contact_footer .inner ul .linkedin {
	background-image: url(../img/linkedin.png) ;
}
body > .contact_footer .inner ul .vimeo {
	background-image: url(../img/vimeo.png) ;
}


body > .contact_footer .copyright, .contact_footer .address, .contact_footer .contact , .contact_footer .social{
	float: left;
	line-height: 17px;
	margin: 0 24px 0 0;
	width: 204px;
}


.contact_footer .social {
	margin: 0;
}

.contact_footer .copyright .logo {
	background: url("../img/icons/logo_black.png") no-repeat;
	width: 80px;
	height: 95px;
}

/* Needed for IPT Page */
body.newsroom #content article.detail .headerleft {
    width: 603px;
	float: left;
	padding-right:41px;
}
body.newsroom #content article.detail .headerright {
    width: 210px;
	float: left;
}
body.newsroom #content .wholewidth {
	border-top: 1px solid #E0E0E0;
	padding-top: 25px;
}
body.newsroom #content article.detail .content .box {
    background: url("http://uat.gbif.org/img/header/infoband_box_left.png") no-repeat scroll left top transparent;
    padding: 0 12px;
    position: absolute;
    right: 67px;
    top: -180px;
	z-index:1000000;
}
body.newsroom #content article.detail .content .box .content ul li h4 {
    color: #333333;
    font-family: "DINOT-Medium",Sans-Serif;
    font-size: 31px;
    margin-bottom: 3px;
	text-align: center;
}
body.newsroom #content article.detail .content .box .content {
    background: url("http://uat.gbif.org/img/header/infoband_box_right.png") repeat-x scroll right top transparent;
    height: 88px;
    left: 0;
    margin: 0;
    padding: 12px 12px 0 0;
    position: relative;
    right: 0;
    width: auto;
}
body.newsroom #content article.iptfeatures >.content .inner{padding:0;margin:0;background:none;}
body.newsroom #content article.iptfeatures >.content .inner ul{padding:0 0 20px 0;margin:0 0 0 0;background:#fff;}
body.newsroom #content article.iptfeatures >.content .inner ul li{padding:0;margin:0;width:250px;height:320px;margin:0 28px 0 0;background:#fff;list-style:none;display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
body.newsroom #content article.iptfeatures >.content .inner ul li.last{margin-right:0;border-right: none}
body.newsroom #content article.iptfeatures >.content .inner ul li.iptfeature{padding-left:5px;padding-top:5px;margin-bottom:10px;border-left: 1px solid #E0E0E0;border-top: 1px solid #E0E0E0;}
body.newsroom #content article.iptfeatures >.content .inner ul li:last-child{margin-right:0;}
body.newsroom #content article.iptfeatures >.content .inner ul li .imgbox-tall{display:block;height:160px;}
body.newsroom #content article.iptfeatures >.content .inner ul li .imgbox-short{display:block;height:135px;}
body.newsroom #content article.iptfeatures >.content .inner ul li img{margin:0 0 15px 0;}
body.newsroom #content article.iptfeatures >.content .inner ul li h3{margin:0 0 5px 0!important;}
body.newsroom #content article.iptfeatures >.content .inner ul li .title{display:block;overflow:hidden;margin:0 0 10px 0;height:40px;color:#0099CC;text-decoration:none;font-weight:bold;font-size:19px;}
body.newsroom #content article.iptfeatures >.content .inner ul li p{overflow:hidden;color:#666666;font-size:15px;margin-bottom:0px;}
