
#search_placeholder { width:179px ; display: inline-block }

div.recover_password {
	top: -20px;
	position: relative;	
	width: 340px;
}


a.candy_blue_button span input {

border: none;
background: none;
font-size: 15px;
color: white;
text-shadow: 0px -1px rgb(0, 121,162);
font-weight: bold;
margin: 0 -5px 0 -5px ;
}

.candy_white_button.lft { 
	float: left;
}






