
#search_placeholder { width:179px ; display: inline-block }

a.candy_blue_button span input {

border: none;
background: none;
font-size: 15px;
color: white;
text-shadow: 0px -1px rgb(0, 121,162);
font-weight: bold;
margin: 0 -5px 0 -5px ;
}

.candy_white_button.lft { 
	float: left;
}

.db {
margin: 0 0 0 10px ;	
}

.mendeley_bold {
	font-weight: bold ;
}

input.mendeley_pager {
	margin: 0px 9px 0px 0px ;
	
}


