#simplemodal-overlay{background-color:#000;cursor:default;}
#simplemodal-container{height:60%;width:60%;color:#bbb;-webkit-border-radius:5px;background-color:#282F49;border:1px solid #e1e1e1;padding:0px;text-align:right;}
