<?xml version="1.0" encoding="UTF-8"?>

<web-app id="starter" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>GBIF Portal</display-name>
  
  <!-- Force sessions to remain open indefinitely -->
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>

  <!-- The Guice configuration -->
  <listener>
    <listener-class>org.gbif.portal.config.PortalListener</listener-class>
  </listener>
  <!-- Required for the FreemarkerDecoratorServlet -->
  <listener>
    <listener-class>org.apache.struts2.dispatcher.ng.listener.StrutsListener</listener-class>
  </listener>
  <!-- Required for the FreemarkerDecoratorServlet -->
  <listener>
    <listener-class>org.apache.struts2.dispatcher.ng.listener.StrutsListener</listener-class>
  </listener>
  <!-- Initiates the Freemarker environment (SLF4J) -->
  <listener>
    <listener-class>org.gbif.portal.config.FreemarkerConfigListener</listener-class>
  </listener>

  <filter>
    <filter-name>guice</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guice</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- allows sitemesh 2.4 freemarker decorators to access struts2 action variables -->
  <servlet>
    <servlet-name>sitemesh-freemarker</servlet-name>
    <servlet-class>org.apache.struts2.sitemesh.FreemarkerDecoratorServlet</servlet-class>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sitemesh-freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
</web-app>
