.block-gbif-blocks {
  margin-top: 41px;
  
  h3 {
    margin-top: 10px;
  }
  
}

.node-content {
  margin-left: 15px;
  padding-top: 10.5px;
  padding-left: 0px;
  border-top: 1px solid @page-header-border-color;
  
  p {
    color: @cGray80;
  }
  
  > ul {
    padding-left: 10px;
    list-style: square;
    list-style-position: outside;
    list-style-image: url("http://cdn.gbif.org/img/icons/bullet.png");
  }
  
}

.view-column {
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.node-sidebar {
  width: 230px;
  margin-left: 30px;
  padding-top: 25px;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 1px solid @page-header-border-color;

  h3 {
    margin-bottom: 5px;
  }

  ul {
    padding-left: 0px;
  }
  
  .item-list {
    margin-bottom: 20px;
  }
  
  .item-date {
    list-style: none;
    color: @cGray80;
  }
  
  .tags {
    padding-left: 10px;
    list-style: square;
    list-style-position: outside;
    list-style-image: url("http://cdn.gbif.org/img/icons/bullet.png");
  }
}

.sidebar-header {
  margin-left: 40px;
  color: @cGray70;
}

.sidebar-filter {
  width: 230px;
  margin-left: 30px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 1px solid @page-header-border-color;
  ul {
    padding-left: 20px;
  }
}

.field-type-image {
  margin-bottom: 20px;
  > .field-label {
    display:none;
  }
  .field-item {
    margin-top: 15px;
  }
}

.node-content,
.field-name-body {
  p {
    > em > strong,
    > strong {
      font-weight: normal;
    }
    a[href^="mailto"] {
      text-decoration: underline;
      font-style: italic;
      color: rgb(102,102,102);
    	font-size: 13px;
    }
  }
}

.node-teaser {
  border-top: 1px solid @page-header-border-color;
  margin-bottom: 20px;
  color: @cGray75;
  
  p {
    font-size: 13px;
  }

  h2 {
    margin: 0px;
    padding-bottom: 0px;
    
    > a {
      font-size: 17px;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  > footer {
    font-size: 13px;
    p { margin-bottom: 0px; }
    .date {
      color: @cGray3;
      margin-bottom: 0px;
    }
  }
}

.node-next {
  h2 {
    padding-bottom: 0px;
    > a {
      font-size: 17px;
      font-weight: bold;
    }
  }
}

.filter-list {
  list-style: none;
  a:hover {
    text-decoration: none;
  }
}

.also-tagged {
  display: inline;
  padding-left: 5px;
  font-size: 13px;
  > li {
    display: inline-block;
    margin-right: 5px;
  }
  a:hover {
    text-decoration: none;
  }
}
