#masthead-fp, #banner-fp {
	background: none ;
}

#homepageMap { 
	display: block;
	height: 490px;
	position: absolute;
	width: 100%;
	z-index: -10 !important;
}

.leaflet-container { 
	font: 12px/1.5 "Helvetica Neue", "Arial", "Helvetica", sans-serif;
	background: #DDDDDD;
	outline: 0px none currentColor;
	overflow: hidden;
}