#homepageMap { 
	display: block;
	height: 490px;
	position: absolute;
	width: 100%;
	z-index: 0;
}

#masthead-fp {
	height: 490px;
}


#region-navigation{
	height:1px !important ;
}


#center-fp {
	border: 1px solid red;
	position: absolute;
	left: 50%;
	margin-left: -462px;
	text-align: left;
	width: 924px;
	z-index: 600;
	.well.well-lg {
		//float:right;
		position: absolute;
		margin-top: -150px;
	}
}





