// Insert your styling here.

#masthead {
  background: url('../images/navbar.jpg') repeat-x top;
  height: @masthead-height;
  position: relative;
}

#banner {
  background: url('../images/banner-green.jpg') repeat-x top;
  height: @banner-height;
  position: relative;
}

#region-menu {
  position: absolute;
  bottom: 0px;
  padding-left: 0;
}