@import "helpers";

@width: 893px;

.copyright {
  position: relative;
  background: #222222;
  height: 40px;

  .inner {
    width: @width;
    margin:auto;
  }

  p {
    padding: 15px 0;
    text-align: left;
    color: white;
    font-size: 11px;
  }
}

body > footer {

  height: 200px;

  border-top: 1px solid #666;
  border-top: 1px solid rgba(0,0,0,.4);

  position: relative;
  background: url("../img/footer/footer_bkg.jpg") repeat-x;

  & > .inner {

    // Clearfix
    & { *zoom: 1; }
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }

    width: @width;
    margin: auto;

    padding: 24px 0px 64px 0;

  }

  .inner ul {
    display: block;
    float: left;
    margin: 0 34px 36px 0;
    width: 275px;

    text-align: left;

    &.last{ margin-right: 0; }
    &.first { clear: left; }

    li {
      font-family: "Arial", "Helvetica", Sans-Serif;
      font-size: 15px;
      line-height: 21px;

      &.no_title {
        margin-top: 27px;
      }

      p {
        margin: 0 0 5px 0;

        color: black;
        font-size: 15px;
        line-height: 17px;

        opacity: 0.4;

        a {
          display: block;

          font-size: 15px;
          font-weight: bold;
          color: @cGray0;

          opacity: 1;
        }

      }

      a {
        color: @cGray0;
        opacity: 0.4;
      }

      h3 {
        color: @cWhite;
        font-family: "DINOT-Regular", Sans-Serif;
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
  }
}
