@import "helpers";

footer {

  height: 200px;

  position: relative;
  text-align: center;
  background: url("../img/footer/footer_bkg.jpg") repeat-x;

  .content {

    .absolute-landscape-center(948px);

    padding: 24px 0px 64px 76px;

    text-align: left;
  }

  ul {
    display: block;
    float: left;
    margin: 0px 38px 36px 0px;
    width: 278px;

    &.first { clear: left; }

    li {
      font-family: "Arial", "Helvetica", Sans-Serif;
      font-size: 15px;
      line-height: 21px;

      &.no_title {
        margin-top: 27px;
      }

      p {
        margin: 0 0 5px 0;

        color: black;
        font-size: 15px;
        line-height: 17px;

        opacity: 0.4;

        a {
          display: block;

          font-size: 15px;
          font-weight: bold;
          color: @cGray0;

          opacity: 1;
        }

      }

      a {
        color: @cGray0;
        opacity: 0.4;
      }

      h3 {
        color: @cWhite;
        font-family: "DINOT-Regular", Sans-Serif;
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
  }
}
