body.home #content article.latest-news {

  .header {

    h1 { font-size: 23px; }

    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #D8DCE1;

    .right { text-align: right; right: 27px; top: 5px; position:absolute; font-size: 15px; }
    .right a { font-size: 15px; }
  }

  .featured, .latest, .upcoming {
    display:inline-block;
    vertical-align: top;
    width: 284px;

    margin-right: 7px;
  }

  .featured {

    img { margin: 0 0 10px 0; }
    .title { display: block; margin: 0 0 14px 0; font-weight:bold; font-size: 19px; }
    p { width: 260px; }
  }

  .latest {

    ul {

      li {

        @padding: 7px;

        height: 83px - @padding*2;

        clear:both; 
        overflow: hidden;

        padding: @padding 0;

        border-bottom: 1px solid #EBEDF0;

        .date { margin: 6px 0 0 0; font-size:13px; color: #999999; }
      }
    }
  } // latest

  .upcoming {

    margin-right: 0;

    ul {

      li {

        clear:both; 
        overflow: hidden;

        padding: 17px 0;

        border-bottom: 1px solid #EBEDF0;

        .location, a { float: left; }

        .location { margin: 6px 0 0 7px; font-size:13px; color: #999999; }
        a { display:block; margin: 0 0 0 7px; }

        .calendar {

          width: 44px;
          height: 50px;

          float: left;

          position:relative;

          background: url(../img/calendar.png) no-repeat;

          strong, .month { position:absolute; width: 44px; text-align: center; }

          strong { font-size: 16px; font-weight: normal; }
          .month { text-transform: uppercase; font-size: 10px; color: #fff; }

          .month { top: 4px; }
          strong { top: 24px; }

        }
      }
    }
  }
}

body.home #content article.featured {

  footer {
    background:url(../img/boxes/box_light_blue_bottom.png) no-repeat;
  }

  div.footer {
    padding: 24px 0 4px 0;
    font-size: 15px;

    border-top: 1px solid #D8DCE1;
    background:url(../img/boxes/box_light_blue.png) repeat-y;

    text-align: center;
  }

  & > .content {


    .buttonContainer {
      width:100%;
      padding:1em;
      text-align: center;

      a.more_news {
        display:inline-block;
        float: none;
      }
    }

    .inner {
      padding: 0;
      margin: 0;

      background:none;

      &.clean {
        border-top: 0;

        ul {
          border-bottom: 0;

          li {
            vertical-align:top;
          }
        }
      }

      ul {

        padding: 0 0 20px 0;
        margin: 0 0 0 0;
        background: #fff;

        li {
          padding: 0;
          margin: 0;
          width: 270px;

          margin: 0 28px 0 0;
          background:#fff;
          list-style:none;

          display: inline-block; *display: inline; *zoom: 1;

          &.last { margin-right: 0; }

          img { margin: 0 0 15px 0; }

          h3 { margin: 0 0 5px 0!important; }

          .title {
            display:block;
            overflow: hidden;
            margin: 0 0 10px 0;
            height:auto;
            color: #0099CC;
            text-decoration:none;
            font-weight: bold;
            font-size:19px;
          }

          p {
            overflow: hidden;
            color: #666666;
            font-size: 15px;
          }

        }
      }
    }
  }
}


body.home article.next_news > .content {

  a h1 {
    font-weight:bold;
    font-size: 19px;
  }

  h3 {
    color: #333333;
    text-transform: uppercase;
  }
}
