body.newsroom #content {

  article.data-use-news > .content {

    .header .left  {
      h2 {
        margin: 0;
        padding: 0;
        height: auto;
        margin: 0 0 5px 0;
      }

      p {
        clear:both;
        font-size: 15px;
        color: #999999;
        text-transform: none;
        font-weight:normal;
      }
    }

    .content {
      padding: 0 0 10px 0;
      margin: 5px 0 0 0;

      background:none;
      border-top: 1px solid #D8DCE1;

      .more_news { float: left; }

      ul {

        padding: 0 0 20px 0; 
        margin: 20px 0 20px 0;
        border-bottom: 1px solid #D8DCE1;
        background: #fff;


        li {
          padding: 0; 
          margin: 0;
          width: 270px;

          margin: 0 28px 0 0;
          background:#fff;
          list-style:none;

          display: inline-block;
          *display: inline;
          *zoom: 1;

          &.last { margin-right: 0; }

          img { margin: 0 0 20px 0; }

          a { 
            margin: 0 0 7px 0;
            display:block;

            color: #0099CC;
            text-decoration:none;
            font-size:19px;
            font-weight: bold;

          }

          p { font-size: 15px; color: #666666; }

          .ocurrences {
            padding: 20px 0;
            font-size: 13px;
            text-align: center;
            color: #A2ACAF;
            background:#E5F5FA;
            .border-radius(3px);
          }
        }

      }

    }
  }
}
