@import "helpers";

/* Taxonomies */

#content article.taxonomies {

  .disable-selection();


  .header .left {
    h2 {
        float: left;
    }

    ul {
      float: right;
      margin: 7px 10px 0 0;
      padding: 0;

      li {
        display: inline;
        background: none;
        margin-left: 15px;

        a {
          position: relative;
          font-size: 15px;
        }
      }
    }
  }

  .content .left {

    div.inner {
      overflow: auto;
      height: 150px;
      outline: none;
    }

    .breadcrumb {
      margin: 0 0 10px 0;
      padding: 0;
      position: relative;
      clear: both;
      overflow: hidden;
      list-style: none;
      height: 28px;

      li {
        float: left;
        margin: 0 5px 0 0;
        padding: 0;
        background: url("../img/icons/tiny_gray_arrow.png") no-repeat right 3px;
        padding-right: 10px;
        color: #cccccc;

        .last-child {
          background: none;
        }
        .last {
          background: none;
        }
        a {
          color: @cGray3;
          text-decoration: underline;
        }

      }
    }

    .sp {
      width: 540px;
      overflow: hidden;

      ul {
        margin: 0;
        margin-top: 0;
        padding: 0;
        width: 540px;
        position: relative;

        li {
          background: none;
          margin: 0 0 5px 0;
          padding: 0;
          height: 20px;
          clear: both;
          overflow: hidden;

          span {
            display: block;
            width: 250px;
            float: left;

            .clickable {
              color: #0099cc;
              cursor: pointer;
            }
          }
          a {
            display: none;
            margin-left: 40px;
            font-size: 13px;
          }
          .bar {
            position: relative;
            float: left;
            height: 20px;
            background: url("../img/green_bar.png") repeat-x center top;
            .clickable {
              cursor: pointer;
              background-position: center bottom;
            }
            .count {
              display: none;
              float: right;
              right: -40px;
              padding-right: 10px;
              font-family: "DINOT-Regular", sans-serif;
              font-size: 18px;
              color: @cGray2;
              position: absolute;
              bottom: 5px;
            }
          }

        }
        ul {
          display: none;
          margin: 0 0 0 540px!important;
          position: absolute;
          top: 0;
          background: #fff;
        }

      }
    }
  }

  .content .right{
    dl {
      dt {
        float: left;
        clear: left;
        font-weight: bold;
        text-transform: uppercase;
        color: @cGray2;
        width: 70px;
        line-height: 18px;
      }
      dd {
        line-height: 18px;
      }
    }
  }
}

