# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore local modules
sites/*/modules

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/10088.bko.gbif.org

# Ignore files only relevant for development environment.
.htaccess
dummy.php

.idea