# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore local modules
sites/default/modules

# Ignore style.map which is for local development.
sites/all/themes/custom/bvng/less/style.css.map

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore files only relevant for development environment.
.htaccess
dummy.php

.idea